<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Home</title>
    <link rel="stylesheet" href="static/css/style.css">
</head>
<body>


<div class="gg">
<p ><button><a href="/cart">cart</a></button></p>

<p ><button><a href="/product">product</a></button></p>
</div>
<div class="gg1">
<h1 style="font-size:60px;">Computer world</h1>
  <h1>welcome to shop</h1>
  
  <h2>pc gaming</h2>
  
  <img src="static/1.png" width="200" > </a>
   
  
  <h3>HyperX QuadCast S RGB USB Condenser Gaming</h3>
    <img src="static/images.jpeg" width="200" >
  </a>
   
  <h3>Apex 7 TKLRed Switch</h3>  
  <img src="static/apex_pro_tkl_64734_images_12894557730.jpg" width="200"> </a>
 
</div>







</body>
</html>