<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Product</title>
    <link rel="stylesheet" href="static/css/product.css">
</head>
<body>

<div class="gg">

<p ><button><a href="/"> home </a></button></p>
</div>






<div class="card">
  <img src="static/1.png" alt="Denim Jeans" style="width:100%">
  <h1>pc gaming</h1>
  
  <p>Processador    Ryzen 5 5600G
Fonte   500w 80 Plus Bronze Neologic
Placa Mãe   A520M
Sistema Operacional Windows 11 - 30 dias grátis
Cooler Fan  3x Frontal
Placa de vídeo  Radeon Vega 7 Integrado
Memória 16GB
Garantia    1 Ano
SSD 240Gb
Cabos Inclusos  Energia
Gabinete    Gabinete Gamer Neologic NL150 Phantom</p>
  <p ><button><a href="/cart">Add to Cart</a></button></p>
</div>

 

  <div class="card">
    <img src="static/images.jpeg" alt="Denim Jeans" style="width:100%">
    <h1>HyperX QuadCast</h1>
    <p>A high-quality microphone from HyperX in a compact size, excellent for broadcasting radio programs, streaming and gaming, has a USB port and is particularly resistant to shocks and vibrations</p>
    <p ><button><a href="/cart">Add to Cart</a></button></p>
  </div>

<div class="card">
    <img src="" alt="static/apex_pro_tkl_64734_images_12894557730.jpg" style="width:100%">
    <h1>Apex 7 TKLRed Switch</h1>
    <p>Apex 7 TKL (Red Switch) Gaming Keyboard
The keyboard has mechanical keys that guarantee 50 million clicks.
Dynamic RGB Prism lighting with the option to customize everything
key.
The keyboard is made of high-quality and highly durable aluminum alloy,
which guarantees a maximum lifespan.</p>
    <p ><button><a href="/cart">Add to Cart</a></button></p>
  </div>

</body>
</html>
